<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<ul class="list-group">
    <li class="list-group-item center-text">Meal Plan For The Week!!</li>
    <br>
    
    <li class="list-group-item list-group-item-primary">Monday:     {{mon}}</li>
    <br>
    <li class="list-group-item list-group-item-primary">Tuesday:    {{tues}}</li>
    <br>
    <li class="list-group-item list-group-item-primary">Wednesday:  {{wed}}</li>
    <br>
    <li class="list-group-item list-group-item-primary">Thursday:   {{thurs}}</li>
    <br>
    <li class="list-group-item list-group-item-primary">Friday:     {{fri}}</li>
    <br>
    <li class="list-group-item list-group-item-primary">Saturday:   {{sat}}</li>
    <br>
    <li class="list-group-item list-group-item-primary">Sunday:     {{sun}}</li>
</body>
